bs4
colorama
faiss-cpu
fake_useragent
flask
flask-cors 
flask-redis
flask-restx
gradio 
langchain
numpy 
openai
pandas
pdfminer
pdfminer.six
python-dotenv
redis
requests
scipy 
scikit-learn
tiktoken
tokenizers
transformers
python-multipart>=0.0.18 # not directly required, pinned by Snyk to avoid a vulnerability
