bs4
colorama
faiss-cpu
fake_useragent
flask
flask-cors 
flask-redis
flask-restx
gradio 
langchain
numpy 
openai
pandas
pdfminer
pdfminer.six
python-dotenv
redis
requests
scipy 
scikit-learn
tiktoken
tokenizers
transformers
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability