tiktoken
langchain
python-dotenv
faiss-cpu
openai
pandas
pdfminer
pdfminer.six
tokenizers
transformers
Flask 
flask-cors 
redis
faiss-cpu 
gradio 
scipy 
numpy 
requests
colorama
aiohttp>=3.9.4 # not directly required, pinned by Snyk to avoid a vulnerability
